body {
    background-color: rgba(27,9,52,255)
}

.logo {
    text-align: center;
} 

button {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    width: 85px;
    height: 35px;
    text-align: center;
    border: 3px;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0rem 0.6rem 0.6rem 0.4rem;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}